<h1>Coupon Details</h1>

<p>
   <strong>Coupon code: </strong> $<%= @coupon.coupon_code %><br />
   <strong>Store :</strong> <%= @coupon.store %><br />
</p>


<%= link_to 'Edit', edit_coupon_path(@coupon) %>
<%= link_to 'Back', coupons_path %>